.back_sch{
    
    display: flex;
    margin: 70px;
    width: 70%;
    height: 70%;
    flex-direction: column;
    background: #EFEFEF;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    padding: 70px;
}