.foo{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    max-height: 15%;
    background: linear-gradient(111.37deg, #0E8047 -6.56%, #60A82A 102.1%);
    color: white;
    align-items: center;
    justify-content: left;
    padding: 20px;

}